@media only screen and (min-width: 65em){
    main img{
        max-width: 800px;
        display: block;
        margin: 0 auto;
    }
    .logo h1{
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0;
    }
}