@media only screen and (min-width: 60em){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr;
    }
    .grid_section{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 0 20px darkred;
    }
    .grid_section h3{
        margin-top: 0px;
    }
    footer{
        text-align: center;
        margin-top: 0;
    }

}