body{
    margin:0px;
}
h3{
    margin: 3px;
    color: white;
}

h2{
    text-align: center;
    font-size: .8rem;
    background-color: #62DB6F;
    color: black;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 0 10px black;
}
h1{
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    text-align: center;
}
p{
    font-size: 1rem;
    padding: 5px;
    margin: 0;
    color: white;
    text-align: justify;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
nav{
    margin: 0px;
    padding: 0px;
    
}
nav .links{
    display: block;
    list-style: none;
    padding: 0px;
    background-color: black;
    opacity: 97%;
    margin: 0px;
}
nav .links li{
    padding: 10px;
    display: none;
}
nav .links li:nth-child(1){
    display: block;
}
nav .responsive li{
    display: block;
}
nav .links li a{
    font-size: .8rem;
    text-decoration: none;
    color: white;
}
nav .socials{
    padding: 5px;
    background-color: #62DB6F;
}
nav .socials a img{
    width: 20px;
    margin: 1px 5px;
}
nav .socials a img:hover{
    scale: 1.1;
}
.bountiful{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px;
    background-color: azure;
}
.bountiful img{
    width: 50px;
}
main{
    background-color: azure;
}
main .hero .heroSlide img{
    z-index: -1;
    width: 100%;
}
main .hero .customizeBtn{
    background-color: #164A1B;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    position: relative;
    bottom: 30px;
}
main .hero .customizeBtn a{
    color: white;
    text-decoration: none;
}
main .hero .radioBtns .dot{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 0 2px;
    background-color: #164A1B;
    display: inline-block;
    position: relative;     
}
main .hero .radioBtns .active{
    background-color: black;
}
main .hero .radioBtns{
    text-align: center;
}
main .cards{
    width: 100%;
}
main .cards h2{
    width: 70%;
    background-color: azure;
    border-radius: 10px;
}
main .cards .specials, .weather{
    background-color: #164A1B;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    height: 200px;
}
main .cards .specials .total{
    font-size: 2rem;
}
main .cards .specials p{
    text-align: center;
}
main .cards .weather .weather1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
main .cards .weather .weather1 h3, span{
    margin: 0;
}
main .cards .weather .weather1 img{
    margin: 0;
}
.discovery{
    background-color: #164A1B;
}
.discovery section{
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px black;
    
}
.discovery section p{
    color: black;
    background-color: #62DB6F;
}
.discovery  section img{
    width: 100%;
    margin-top: 5px;
    box-shadow: 0 0 10px black;
}
footer .footer-text{
    background-color: black;
    font-size: .8rem;
    text-align: center;
    padding: 5px;
}