@media only screen and (min-width: 65em){
    
    .discovery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    .discovery section img{
        width: 100%;
    }
    h2{
        margin-bottom: 5px;
    }




     /**Fresh Page**/
     form{
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .showDrink span{
        display: block;
        font-size: 1rem;
        padding: 3px;
    }




        /**About Page**/
    .about{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .about p{
        color: black;
        margin-bottom: 20px;
    }
    .about h2{
        border-radius: 5px;
    }
}
    