@media only screen and (min-width: 32.5em){
   .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 20px;
    }
    nav .links{
        display: flex;
        margin: 0 20%;
    }
    nav .links li{
        flex: 1 1 100%;
        display: block;
        padding: 10px;
    }
    nav .links li a{
        text-align: center;
        font-size: 1rem;
        display: block;
    }
    nav .links li:hover{
        background-color: #62DB6F;
    }
    .menuBtn{
        display: none;
    }
    .bountifulGrid{
        display: flex;
        flex-direction: row;
        background-color: azure;
        justify-content: center;
        align-items: center;
    }
    .bountifulGrid span{
        display: flex;
        flex-direction: row;
        background-color: azure;
        font-size: .8rem;

    }
    nav .socials a img{
        width: 30px;
        margin: 5px;
    }
    p{
        font-size: 1.1rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }
    .cards span{
        font-size: .8rem;
    }
    .cards p{
        font-size: 1rem;
    }
    .cards h3{
        font-size: .7rem;
    }
    .cards h4{
        font-size: 1rem;
    }



    /**Fresh Page**/
    form{
        border-radius: 10px;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow:  3px 3px 10px black;
        background-color:#62DB6F;
        
    }
    .showDrink{
        position: absolute;
        top: 200px;
        left: 2%;
        right: 2%;
        width: 450px;
        display: none;
        margin: 0 auto;
    }
    .showDrink span{
        display: block;
        font-size: .8rem;
        padding: 3px;
    }




        /**About Page**/
    .about{
        padding: 10px;
    }

    .about p{
        color: black;
        margin-bottom: 20px;
    }
    .about h2{
        border-radius: 5px;
    }
}