/**Home Page and General**/
body{
    margin:0px;
}
h3{
    margin: 3px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}

h2{
    text-align: center;
    font-size: 1rem;
    background-color: #62DB6F;
    color: black;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 0 10px black;
    font-family: 'DM Serif Display', serif;
}
h1{
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: .8rem;
    padding: 5px;
    margin: 0;
    color: white;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}
nav{
    margin: 0px;
    padding: 0px;
    
}
nav .links{
    display: block;
    list-style: none;
    padding: 0px;
    background-color: black;
    opacity: 97%;
    margin: 0px;
}
nav .links li{
    padding: 10px;
    display: none;
}
nav .links li:nth-child(1){
    display: block;
    padding: 10px;
}
nav .links li:nth-child(1) a{
    font-size: 2rem;
}
nav .links li:nth-child(1) #close{
    display: none;
}
nav .responsive li{
    display: block;
}
nav .responsive li:nth-child(1) #close{
    display: inline-block;
    font-weight: bolder;
}
nav .responsive li:nth-child(1) a{
    display: none;
}
nav .links li a{
    font-size: .8rem;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav .socials{
    padding: 5px;
    background-color: #62DB6F;
}
nav .socials a img{
    width: 20px;
    margin: 1px 5px;
}
nav .socials a img:hover{
    scale: 1.1;
}
.bountiful{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px;
    background-color: azure;
}
.bountiful img{
    width: 50px;
}
main{
    background-color: azure;
}
main .hero .heroSlide img{
    z-index: 1;
    width: 100%;
}
main .hero .customizeBtn{
    background-color: #164A1B;
    display: block;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    position: relative;
    bottom: 50px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
main .hero .customizeBtn:hover{
    background-color: #62DB6F;
    scale: 1.1;
}
main .hero .customizeBtn a{
    color: white;
    text-decoration: none;
}
main .hero .radioBtns .dot{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin: 0 2px;
    background-color: #164A1B;
    display: inline-block;
    position: relative;     
}
main .hero .radioBtns .active{
    background-color: black;
}
main .hero .radioBtns{
    text-align: center;
}
main .cards{
    width: 100%;
}
main .cards h2{
    width: 70%;
    background-color: azure;
    border-radius: 10px;
    font-family: 'DM Serif Display', serif;
}
main .cards .specials, .weather{
    background-color: #164A1B;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    height: 200px;
}
main .cards .specials .total{
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
}
main .cards .specials p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
main .cards .weather .weather1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
main .cards .weather .weather1 h3, span{
    margin: 0;
}
main .cards .weather .weather1 img{
    margin: 0;
}
.discovery{
    background-color: #164A1B;
}
.discovery section{
    padding: 5px;
    margin-bottom: 50px;
    box-shadow: 0 0 5px black;
    
}
.discovery section p{
    color: black;
    background-color: #62DB6F;
}
.discovery  section img{
    width: 100%;
    margin-top: 5px;
}
footer{
    background-color: black;
}
footer a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    display: block;
}
footer .footer-text{
    font-size: .8rem;
    text-align: center;
    padding: 5px;
}


/**Fresh Page**/
form{
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow:  3px 3px 10px black;
    background-color:#62DB6F;
    
}
fieldset{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.pinfo{
    display: block;
}
.pinfo input{
    padding: 10px;
    width: 90%;
    height: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    border: 1px solid black;
    background-color: azure;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.pinfo input:required{
    border-bottom: 3px solid red;
}
.pinfo input:valid{
    border-bottom: 3px solid green;
}
fieldset #sfruit1, #sfruit2, #sfruit3{
    width: 31%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: azure;
    font-family: 'Poppins', sans-serif;
}
.ainfo textarea{
    width: 95%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: azure;
    font-family: 'Poppins', sans-serif;
}
form:hover{
    position: relative;
    top: -5px;
    left: -5px;
}
#submitBtn{
    width: 100%;
    padding: 10px;
    background-color: #164A1B;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px black;
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}
.showDrink{
    background-color: azure;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    padding: 5px;
    position: absolute;
    top: 200px;
    left: 2%;
    right: 2%;
    width: 350px;
    display: none;
}
.showDrink h4{
    background-color: green;
    text-align: center;
    padding: 10px;
    color: white;
}
.showDrink p{
    color: black; 
    font-size: 1rem;
    display: block;
}
.showDrink span{
    display: block;
    font-size: .7rem;
    margin: 2px;
}
.showDrink section{
    margin-bottom: 10px;
}
.showDrink .fruitDetails{
    display: flex;
    flex-direction: row;
}
.showDrink #clearBtn{
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;;
}

/**About Page**/
.about{
    padding: 10px;
}

.about p{
    color: black;
    margin-bottom: 20px;
}
.about h2{
    border-radius: 5px;
}