body{
    max-width: 2208px;
}
h1{
    color: white;
    text-align: center;
    background-color: rgb(6, 86, 117);
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px black;
    font-family:'Times New Roman', Times, serif;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
section{
    text-align: center;
    color: white;
    margin: 2px;
    background-color: rgb(8, 125, 172);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
}
img{
    box-shadow: 0 0 10px black;
}
section:hover{
    scale: 1.01;
    box-shadow: 0 0 10px black;
}
footer{
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(6, 86, 117);
}